# LightGBM model with Airline dataset. Experiment 01

LightGBM regressor with L2 + Airline dataset

In [22]:
import os,sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from lightgbm.sklearn import LGBMRegressor
import xgboost as xgb
from sklearn.model_selection import StratifiedKFold
from scipy.stats import gmean

from libs.timer import Timer
from libs.loaders import load_fraud, load_iot, load_airline
from libs.conversion import convert_cols_categorical_to_numeric, convert_related_cols_categorical_to_numeric
from libs.conversion import _get_nominal_integer_dict, _convert_to_integer

print("System version: {}".format(sys.version))

System version: 3.6.0 |Anaconda 4.3.1 (64-bit)| (default, Dec 23 2016, 12:22:00)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]

### Load data

In [2]:
%%time
df_plane = load_airline()
print(df_plane.shape)

MOUNT_POINT not found in environment. Defaulting to /fileshare
(115069017, 14)
CPU times: user 1min 40s, sys: 14.7 s, total: 1min 55s
Wall time: 3min 35s

In [3]:
df_plane.head()

,Year,Month,DayofMonth,DayofWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,Origin,Dest,Distance,Diverted,ArrDelay
0,1987,10,1,4,1,556,AA,190,247,SFO,ORD,1846,0,27
1,1987,10,1,4,5,114,EA,57,74,LAX,SFO,337,0,5
2,1987,10,1,4,5,35,HP,351,167,ICT,LAS,987,0,17
3,1987,10,1,4,5,40,DL,251,35,MCO,PBI,142,0,-2
4,1987,10,1,4,8,517,UA,500,208,LAS,ORD,1515,0,17

In [4]:
%%time
df_plane_numeric = convert_related_cols_categorical_to_numeric(df_plane, col_list=['Origin','Dest'])

CPU times: user 2min 8s, sys: 7.82 s, total: 2min 16s
Wall time: 2min 13s

In [5]:
df_plane_numeric.head()

,Year,Month,DayofMonth,DayofWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,Origin,Dest,Distance,Diverted,ArrDelay
0,1987,10,1,4,1,556,AA,190,247,0,33,1846,0,27
1,1987,10,1,4,5,114,EA,57,74,1,0,337,0,5
2,1987,10,1,4,5,35,HP,351,167,2,4,987,0,17
3,1987,10,1,4,5,40,DL,251,35,3,41,142,0,-2
4,1987,10,1,4,8,517,UA,500,208,4,33,1515,0,17

In [6]:
%%time
df_plane_numeric = convert_cols_categorical_to_numeric(df_plane_numeric, col_list='UniqueCarrier')

CPU times: user 1min 8s, sys: 7.12 s, total: 1min 15s
Wall time: 1min 13s

In [7]:
df_plane_numeric.head()

,Year,Month,DayofMonth,DayofWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,Origin,Dest,Distance,Diverted,ArrDelay
0,1987,10,1,4,1,556,0,190,247,0,33,1846,0,27
1,1987,10,1,4,5,114,1,57,74,1,0,337,0,5
2,1987,10,1,4,5,35,2,351,167,2,4,987,0,17
3,1987,10,1,4,5,40,3,251,35,3,41,142,0,-2
4,1987,10,1,4,8,517,4,500,208,4,33,1515,0,17

In [8]:
#gets a random 80% of the entire set
X_train = df_plane_numeric.sample(frac=0.8, random_state=1)
print(X_train.shape)
#gets the left out portion of the dataset
X_test = df_plane_numeric.loc[~df_plane_numeric.index.isin(X_train.index)]
print(X_test.shape)

(92055214, 14)
(23013803, 14)

### Training

In [9]:
# Variables
KFOLD_SPLITS = 5

In [18]:
def train_lightgbm(df, verbose=True):
    if verbose: print("Training data of size {}".format(df.shape))
    x = df.ix[:, df.columns != 'ArrDelay'].as_matrix()
    y = df['ArrDelay'].as_matrix()
    
    n_splits = 5
    skf = StratifiedKFold(n_splits=n_splits, random_state=77, shuffle=True)
    clfs = []
    
    if verbose: print("Computing LightGBM boosted tree using {} kfold cross validation".format(n_splits))
    for train_index, test_index in skf.split(x, y):
        trn_x, val_x = x[train_index,:], x[test_index,:]
        trn_y, val_y = y[train_index], y[test_index]

        clf = LGBMRegressor(max_depth=6,
                            num_leaves=21,
                            n_estimators=300,
                            min_child_weight=30,
                            learning_rate=0.01,
                            nthread=20,
                            boosting_type='gbdt',
                            subsample=0.80,
                            colsample_bytree=0.80,
                            seed=77)
        clf.fit(trn_x, trn_y, eval_set=[(val_x, val_y)], verbose=verbose, eval_metric='l2', early_stopping_rounds=300)
        clfs.append(clf)
        
    return clfs

In [16]:
X_train_small = X_train.sample(frac=0.001, random_state=1)
print(X_train_small.shape)

(92055, 14)

In [ ]:
%%time
clfs = train_lightgbm(X_train)

### Evaluation

In [29]:
def compute_prediction(clfs, df, verbose=True):    
    x = df.as_matrix()
            
    preds = []
    with Timer() as t:
        for clf in clfs:
            preds.append(clf.predict(x))
        pred = gmean(np.array(preds), axis=0)
    if verbose: print("Prediction took %.03f sec.\n" % t.interval)        
    df['prediction'] = pred
    return df

In [27]:
X_test_small = X_test.sample(frac=0.001, random_state=1)
print(X_test_small.shape)

(23014, 14)

In [31]:
X_test_pred = compute_prediction(clfs, X_test)
X_test_pred.head(50)

Prediction took 6.027 sec.

/home/hoaphumanoid/anaconda3/envs/strata/lib/python3.6/site-packages/scipy/stats/stats.py:314: RuntimeWarning: invalid value encountered in log
  log_a = np.log(a)

,Year,Month,DayofMonth,DayofWeek,CRSDepTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,Origin,Dest,Distance,Diverted,ArrDelay,prediction
85782914,2004,9,8,3,636,709,18,6098,24,1,13,47,0,-14,NaN
33917016,1995,5,19,5,1755,2003,11,751,302,50,22,2075,0,8,12.583925
101255940,2006,11,23,4,1035,1255,0,664,177,109,72,1183,0,32,1.106149
93564630,2005,10,16,7,1122,1520,0,730,170,33,43,1182,0,-7,1.322369
16885574,1992,1,6,1,1709,1902,0,1119,220,10,0,1464,0,70,11.061411
13132449,1991,4,9,2,1104,1348,0,570,100,131,10,592,0,-6,1.500661
2477763,1988,3,26,6,2233,2331,6,831,49,62,19,270,0,-8,4.715773
90743270,2005,5,24,2,1145,1235,10,1407,50,90,94,189,0,0,0.569552
33857972,1995,5,15,1,1715,1745,11,1027,85,58,48,426,0,-4,6.998545
51966358,1998,10,30,5,1305,1426,4,2809,76,16,52,391,0,-8,4.304622
47637075,1998,1,1,4,855,900,3,907,62,62,51,272,0,-11,1.417986
108138472,2007,11,4,7,1400,1759,3,1516,170,72,109,1183,0,-13,5.249066
83270411,2004,4,30,5,1450,1520,25,5845,85,123,112,403,0,-5,5.638172
92102092,2005,8,1,1,700,846,5,427,98,5,8,605,0,-13,NaN
16822005,1992,1,1,3,2000,2124,4,1126,72,1,0,337,0,-15,7.799076
87353761,2004,11,28,7,1805,1852,18,6342,42,8,7,129,0,0,5.465006
85236416,2004,8,10,2,1832,1926,0,753,176,10,13,1189,0,1,9.791991
83780324,2004,5,27,4,1320,1704,3,514,160,10,43,1119,0,-4,4.537458
87792999,2004,12,21,2,1449,1642,3,634,105,123,122,661,0,-8,6.649944
21882726,1993,1,5,2,659,840,7,719,175,109,61,1020,0,15,8.497946
78143189,2003,7,21,1,2116,2239,7,1400,93,44,54,383,0,15,12.425080
58132054,1999,12,25,6,2210,2318,11,848,61,58,67,330,0,-11,6.122724
101690437,2006,12,16,6,1155,1309,21,2303,91,31,124,284,0,53,12.636603
76461179,2003,4,16,3,1234,2000,2,49,250,4,111,2089,0,-21,4.911447
69020949,2001,12,2,7,1525,1658,11,536,93,87,50,405,0,4,8.419552
86074789,2004,9,23,4,1040,1250,3,1245,110,62,50,665,0,-16,1.877074
10409326,1990,9,23,7,1800,1901,11,1731,65,84,111,296,0,5,5.042913
78233263,2003,7,27,7,630,1228,4,132,238,0,33,1846,0,23,1.041830
28259666,1994,4,17,7,2305,606,3,1020,250,1,123,1900,0,11,5.247666
87105902,2004,11,15,1,1505,1735,10,1064,90,97,44,440,0,0,6.934482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25480143,1993,9,23,4,1902,1950,3,507,109,10,28,569,0,2,9.589953
42982546,1997,2,15,6,1540,1644,11,749,65,146,50,212,0,1,4.133710
77351001,2003,6,7,6,705,1224,4,1526,194,127,33,1498,0,-9,NaN
91530887,2005,7,3,7,937,1553,0,1388,249,106,33,1829,0,-11,4.204571
9800238,1990,8,12,7,1545,1810,5,209,151,7,148,859,0,6,13.450682
70432343,2002,3,13,3,2035,2135,10,289,61,4,143,223,0,11,6.376011
26946427,1994,1,10,1,1320,1552,5,538,148,8,1,954,0,-4,4.937232
76328504,2003,4,8,2,1800,1955,10,1792,125,18,3,718,0,60,7.652158
68624560,2001,11,3,6,1504,1640,8,149,180,43,30,965,0,20,12.617349
44073242,1997,5,1,4,1110,1709,4,372,237,0,72,1911,0,-3,6.603497
8852056,1990,6,8,5,847,1140,1,223,111,39,62,692,0,-2,1.340013
56527957,1999,9,9,4,1350,1936,4,632,234,7,33,1739,0,8,7.754015
78889508,2003,9,2,2,725,829,3,553,75,15,62,259,0,6,3.652897
13375896,1991,4,26,5,1733,1900,8,689,144,30,16,861,0,-4,9.904797
68246290,2001,10,7,7,1625,1740,10,432,83,104,140,441,0,35,4.926621
71809005,2002,6,17,1,1530,1833,3,2547,203,31,43,1065,0,9,24.077248
85151170,2004,8,6,5,1301,1438,19,4129,80,62,187,300,0,-12,10.302714
742960,1987,11,22,7,905,1046,0,1005,102,20,3,534,0,0,1.706396
109969131,2008,2,7,4,1837,2212,5,710,134,7,22,1009,0,-19,9.154808
6984140,1990,1,23,2,1255,1420,3,459,78,86,62,432,0,-7,2.789752
81738114,2004,2,10,2,1210,1705,11,124,156,16,14,1337,0,-26,NaN
54673833,1999,5,7,5,1125,1333,8,1461,63,33,53,316,0,-9,1.913299
25336444,1993,9,13,1,1310,1415,10,1016,61,13,22,325,0,2,2.019459
45955800,1997,9,6,6,905,1015,6,647,70,97,63,228,0,-4,2.528176
79626496,2003,10,14,2,1300,1409,7,871,66,112,72,349,0,-7,0.426607
33850994,1995,5,15,1,935,1111,7,999,112,50,44,453,0,13,9.083440
56870243,1999,10,2,6,1540,2050,10,1577,187,4,72,1501,0,-3,3.336260
3868753,1988,7,3,7,1510,1650,8,71,145,33,16,888,0,-15,7.349330
43980347,1997,4,24,4,2135,520,4,952,274,23,0,2398,0,9,5.478560
63590424,2000,12,23,6,2100,856,6,16,473,23,97,4129,0,3,7.653443